<div layout-gt-md="row">
  <panel-widget flex title="Balance Sheet" template="app/views/partials/visitors.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Daily Payment($)" template="app/views/partials/warnings.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Loan Status" template="app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Risk Prefernece" template="app/views/partials/controlPanel.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Investment Return" template="app/views/partials/usage.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Search for a Ticker" template="app/views/partials/autocomplete.html" options="true" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Performance" template="app/views/partials/performance.html" options="true"></panel-widget>
  <!-- <panel-widget flex title="TODO list" template="app/views/partials/checkboxes.html"></panel-widget> -->
</div>
